<h3>Pragmatic Order Shipped</h3>
<p>
  Yo dawg, we heard you like orders, so we shipped yours.
</p>

<table>
  <tr><th colspan="2">QTY</th><th>Description</th></tr>
  <%= render @order.line_items %>
</table>

